<footer id="footer" class="midnight-blue">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              &copy; 2022 <a target="_blank">Software development Project</a>
          </div>
          <div class="col-sm-6">
              <ul class="pull-right">
                  <li><a routerLink="/home">Home</a></li>
                  <li><a routerLink="/about">About Us</a></li>
                  <li><a routerLink="/services">Service</a></li>
                  <li><a routerLink="/influencer">Influencer</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer><!--/#footer-->
